html {
  /* font-family: Arial, Helvetica, sans-serif; */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/images/prism.png");
  /* background-image: url("./assets/images/xmas.png"); */
  /* -webkit-animation: transparence 2s infinite;  */
  /* Safari 4.0 - 8.0 */
  /* -webkit-animation-delay: 2s;  */
  /* Safari 4.0 - 8.0 */
  /* font-family: 'Jura', sans-serif; */
  animation: transparence 2s;
  animation-delay: 2s;
}

@-webkit-keyframes transparence {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes transparence {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

/* ------------------------------------------------------------------------NAVBAR */
/* .navbar {
  position: fixed;
  right: 5%;
  width: 4em;
  align-items: center;
  font-size: 25px;
}

.navbar li {
  display: block;
  padding: 2em;
  cursor: pointer;
  border: 1px solid rgb(145, 141, 141);
}

.navbar li a {
  color: white;
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

a {
  position: relative;
  text-decoration: none;
}

.navbar li:hover {
  background-color: rgb(61, 59, 59);
  margin-right: 50px;
} */

/* ------------------------------------------------------------------------PRESENTATION */
.presentation {
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
}

.text_presentation {
  font-size: 3em;
  font-weight: lighter;
  width: 900px;
  margin-left: 150px;
  margin-top: 150px;
  margin-bottom: 30px;
  color: rgb(212, 207, 207);
  font-family: "Yanone Kaffeesatz", sans-serif;
  letter-spacing: 5px;
}

#adopt {
  padding-left: 150px;
  font-weight: bold;
}

/* ------------------------------------------------------------------------CV */

.myCV {
  color: white;
  font-weight: ligther;
  width: 1100px;
  display: grid;
  /* columns: left, right */
  grid-template-columns: 50% 50%;
  /* rows: picture, name, cv */
  grid-template-rows: 300px 100px auto;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 110px;
}

.cv a {
  color: white;
}

.cv p {
  line-height: 1.8em;
}

h1,
h2 {
  text-transform: uppercase;
  font-weight: ligther;
  font-family: "Jura", sans-serif;
}

.cv h2 {
  color: #f4a4a4;
  font-size: 1.3em;
  margin-top: 40px;
  font-weight: bold;
  border-top: 1px solid white;
  padding: 20px 0;
}

h3 {
  margin-top: 20px;
  font-weight: ligther;
}
h4 {
  font-weight: lighter;
  font-size: 1em;
  /* font-style: italic; */
  margin-top: -12px;
}

ul {
  list-style: none;
}
p,
li {
  font-size: 1em;
  margin: 0;
}

.picture {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}

.photo {
  height: 250px;
  border-radius: 150px;
  margin: 15px auto;
  border: 3px solid white;
}

.name {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  margin-bottom: 60%;

  font-size: 1.7em;
  padding-top: 10px;
}

#job {
  font-style: italic;
}

.left {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-top: 60px;
  /* border-left: 1px solid white; */
}

#about {
  border-left: 1px solid white;
  padding-left: 40px;
  margin-right: 40px;
}

#introduction {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: justify;
  font-size: 20px;
}

.adjectives {
  padding-top: 15px;
  font-style: italic;
  font-size: 1.7em;
  text-align: center;
  font-family: "Gloria Hallelujah", cursive;
  border-bottom: 1px dotted white;
  padding-bottom: 40px;
}

#education {
  padding-top: 40px;
  text-align: center;
  border-left: 1px solid white;
  padding-left: 40px;
  padding-right: 40px;
}

#educationTitle {
  margin-top: 0;
}

#educationEnd {
  margin-bottom: 0;
  border-bottom: 1px dotted white;
  padding-bottom: 40px;
}

#experience {
  padding-top: 40px;
  text-align: center;
  border-left: 1px solid white;
  padding-left: 40px;
  padding-right: 40px;
  margin-right: 40px;
}

#experienceTitle {
  margin-top: 0;
}

.place {
  margin-bottom: 0;
  padding-bottom: 5px;
}

.activityList {
  margin-top: 50px;
}

#gamflix {
  margin-top: 5%;
  margin-bottom: 4%;
}

#gamflixLink {
  color: white;
  text-decoration: none;
  margin-top: 2%;
}

.right {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-top: 250px;
  margin-right: 40px;
  padding-left: 40px;
  border-left: 1px solid white;
}

.accounts {
  border-bottom: 1px dotted white;
  padding-bottom: 40px;
}

.programmation {
  padding-top: 40px;
  text-align: center;
}

.skill {
  padding-top: 50px;
}

.mySkills {
  display: grid;
  grid-template-columns: 34% 33% 33%;
  grid-template-rows: 50% 50%;
}

.html {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.css {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.js {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.react {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.angular {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.github {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

#progTitle {
  margin: 0;
}

#logoWorks {
  text-align: center;
}

#logogithub {
  color: white;
  padding-right: 15%;
  padding-top: 5%;
}

#logogitlab {
  color: white;
  padding-right: 15%;
}

#logonpm {
  color: white;
}

.softwares {
  padding-top: 40px;
  border-bottom: 1px dotted white;
  padding-bottom: 20px;
  text-align: right;
}

#also {
  margin: 0;
  padding-bottom: 15px;
}

#alsoList {
  line-height: 25px;
}

.languages {
  border-bottom: 1px dotted white;
  padding-bottom: 40px;
  padding-top: 40px;
}

#languagesTitle {
  margin-top: 0;
}

.languages h3 {
  margin: 0;
  text-align: right;
}

#allLanguages {
  line-height: 25px;
  text-align: center;
}

#LearnMore {
  padding-top: 40px;
}

#moreTitle {
  margin: 0;
  text-align: center;
}

#MeMyselfAndI {
  text-align: justify;
  padding-top: 20px;
  text-align: justify;
}

.hobbies {
  padding-top: 7px;
  padding-bottom: 7px;
  line-height: 25px;
}

/* ---------------------- Contact ----------------------  */

.contact {
  width: 100%;
  position: absolute;
  color: white;
  text-align: center;
  padding-bottom: 80px;
}

.contact h2 {
  color: white;
  font-size: 1.2em;
  border-bottom: 1px dotted white;
  width: 400px;
  margin: 20px auto;
  padding: 10px;
}

.contact a {
  color: white;
  font-size: 2em;
  padding: 10px;
}

.mail a {
  font-size: 1em;
  color: white;
  text-decoration: none;
}

#logolinkedin {
  color: white;
}
